# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Davib\OneDrive - Kt. SG BLD\Modul_120\3.0 Bindings\fahrzeugsteuer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
